.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
}

.logincontainer{
    max-width: 33%;
    background-color: black;
    border: 1px solid rgb(214, 213, 213);
    padding: 1.5em 2.5em;
    text-align: center;
}

.logincontainer h2,
.logincontainer p{
    margin-bottom: 1em;
}

.register{
    text-decoration: underline;
}

.title{
    margin-bottom: -5px;
}

.title2{
    margin: -10px 0
}

.image{
    width: 50%;
    border-radius: 50%;
    margin-bottom: 10px;
}